{{>header}}
{{>navbar}}
 <body >
<div class ="container my-4">
  <div class="mb-3">
    <a href="home" class="btn btn-primary">Back to All Users Page</a>
</div>

  <form id= "addUser">
    <div class="btn-3">
      <label>Acc.Num</label>
      <input name="accNum" disabled class="form-control">
  </div>
    <div class="btn-3">
        <label>Name</label>
        <input name="name" class="form-control">
    </div>
    <div class="btn-3">
        <label>Address</label>
        <input name="address" class="form-control">
    </div>
    <div class="btn-3">
      <label>Phone</label>
      <input  name="phone" class="form-control">
    </div>
<div class="btn-3">
  <label>Initial Balance</label>
  <input name="initial" class="form-control">
</div>
    <div>
        <button class="btn-3 btn btn-primary">Add New</button>
    </div>
</form>
</div>
  </body>
</html>
{{>footer}}